header h2 {
    font-family: Dancing Script;
    font-size: 40px;
    color: #b5413e;

}
header nav a {
    font-family: Dancing Script;
    text-decoration: none;
    font-size: 25px;
    color: #2360a4;
}
main iframe{
    width: 100%;
    height: 900px;
}